.band {

    @each $key, $size in $sizes {
        &--#{$key} {
            padding-top: $size;
            padding-bottom: $size;
        }
        &--#{$key} &__header {
            margin-bottom: $size/2;
        }
    }

    &--white {
        background-color: $white;
    }

    &--gray {
        background-color: $gray-lightest;
    }

    &--primary {
        background-color: map-get($colors, 'primary');
        color: $white;
        a {
            color: map-get($colors, 'secondary');
            &:hover, &:focus {
                color: darken(map-get($colors, 'secondary'), $color-shift);
            }
        }
    }

    &--secondary {
        background-color: map-get($colors, 'secondary');
    }

    &[style*="background-image"] {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__header {
        text-align: center;
    }

    &__title {
        margin-bottom: 0;
    }

    @include no-mb();
}
