@mixin button($background, $text) {
    background-color: $background;
    color: $text !important;
    &:hover, &:focus {
        background-color: darken($background, $color-shift);
        color: $text !important;
    }
}

.button {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: map-get($button-sizes, 'md');
    line-height: 1;
    text-decoration: none;
    text-align: center;

    &--primary {
        @include button(map-get($colors, 'primary'), $white);
    }

    &--secondary {
        @include button(map-get($colors, 'secondary'), $white);
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    @each $key, $size in $button-sizes {
        &--#{$key} {
            padding: $size;
        }
    }

    svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
