.cards {
    margin-bottom: -30px;
    [class*="column--"] {
        margin-bottom: 30px;
    }
}

.card {
    background-color: #ffffff;
    color: $text-color-base;
    text-decoration: none;
    height: 100%;
    box-shadow: 0 3px 10px rgba(#000000, .15);

    &, &__body {
        display: flex;
        flex-direction: column;
    }

    &__media {
        flex: 0 0 auto;
        img {
            display: block;
        }
    }

    &__body {
        flex: 1 1 auto;
    }

    &__title {
        margin-bottom: 0;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__meta {
        text-transform: uppercase;
        font-size: 80%;
        display: block;
    }

    &__body {
        padding: 20px;
    }

    &__content {
        margin-bottom: auto;

        @include no-mb();
    }

    &__footer {
        margin-top: 20px;
    }
}
