.footer {
    background-color: $gray-darker;
    color: $gray-light;

    &__copyright {
        &-menu {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            display: inline-block;
            & > li {
                display: inline-block;
                &::before {
                    content: ' | ';
                }
            }
        }
    }

    &__copyright, &__credit {
        flex: 0 0 auto;
        margin: 0;
    }

    &__main {
        padding: map-get($sizes, 'sm') 0;
    }

    &__bottom {
        padding: map-get($sizes, 'xs') 0;
        background-color: $gray-darkest;
    }

    .widget {
        margin-bottom: map-get($sizes, 'sm');
    }

    @media screen and (min-width: get-breakpoint-min(sm)) {
        &__bottom {
            & > .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .widget:last-child {
            margin-bottom: 0;
        }
    }
}