.header {
    background-color: $white;
    box-shadow: 0 0 3px rgba($black, .175);
    position: relative;
    z-index: 50;

    &__main {
        padding: map-get($sizes, 'xs') 0;
    }

    &__logo {
        flex: 0 0 220px;
        margin-right: $grid-gutter-width;
        display: flex;
        align-items: center;
    }

    &__content {
        margin-left: auto;
    }

    @media screen and (min-width: get-breakpoint-min(sm)) {
        &__main {
            & > .container {
                display: flex;
            }
        }
    }
}