.navbar {
    &__nav {

        &, ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
        }

        a {
            display: block;
            padding: 10px 15px;
            color: inherit;
            text-decoration: none;
        }

        .dropdown {
            & > a > svg {
                width: 12px;
                height: 12px;
                position: relative;
                top: -1px;
            }
        }
    }

    &__collapse {
        display: none;
        &--open {
            display: block;
        }
    }

    .dropdown-menu {
        background-color: $gray-lightest;
        display: none;
    }

    .dropdown--open {
        & > .dropdown-menu {
            display: block;
        }
    }

    @media screen and (min-width: get-breakpoint-min(sm)) {
        &__nav {
            display: flex;

            & > li {
                flex: 0 0 auto;
                position: relative;
            }
        }

        &__collapse {
            display: block;
        }

        &__toggle {
            display: none;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 220px;
        }
    }
}
