.row {
    margin-left: ($grid-gutter-width/2) * -1;
    margin-right: ($grid-gutter-width/2) * -1;
    
    @media screen and (min-width: get-breakpoint-min(xs)) {
        display: flex;
        flex-wrap: wrap;
    }
}
