.skip-link {
    position: fixed;
    top: 15px;
    left: 15px;
    transform: translateX(-200px);
    z-index: 100;
    padding: 5px 10px;
    background-color: $gray-darkest;
    color: $gray-lightest;
    text-decoration: none;

    &:focus {
        transform: translateX(0);
        color: #ffffff;
    }

    .admin-bar & {
        top: 15px + 32px;
    }
}
