.social-media {
    &__menu {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    &__item {
        display: inline-block;
        & > a {
            display: flex;
            width: 40px;
            height: 40px;
            background-color: map-get($colors, 'primary');
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: $white !important;
            & > svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
