.well {
    padding: map-get($sizes, 'xs');
    margin-bottom: $text-margin-bottom;

    @each $key, $size in $sizes {
        &--#{$key} {
            padding: $size;
        }
    }

    &:not(&--bordered) {
        background-color: $gray-lightest;
    }

    &--bordered {
        border: 1px solid $gray-lightest;
    }

    &--primary:not(&--bordered) {
        background-color: map-get($colors, 'primary');
        color: $white;
         a {
            color: map-get($colors, 'secondary');
            &:hover, &:focus {
                color: darken(map-get($colors, 'secondary'), $color-shift);
            }
        }
    }

    &--secondary:not(&--bordered) {
        background-color: map-get($colors, 'secondary');
    }

    &--primary.well--bordered {
        border: 1px solid map-get($colors, 'primary');
    }

    &--secondary.well--bordered {
        border: 1px solid map-get($colors, 'secondary');
    }

    @include no-mb();
}
