.text {
    &--left {
        text-align: left;
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }

    @each $key, $color in $colors {
        &--#{$key} {
            color: map-get($colors, $key);
        }
    }
}

.bg {
    @each $key, $color in $colors {
        &--#{$key} {
            background-color: map-get($colors, $key);
        }
    }

    &--fixed {
        background-attachment: fixed;
        @supports (-webkit-overflow-scrolling: touch) {
            background-attachment: scroll;
        }
    }
}

@each $name, $size in $sizes {
    .m--#{$name} {
        margin: #{$size} !important;
    }
    .p--#{$name} {
        padding: #{$size} !important;
    }
    @each $position, $short in (top: 't', right: 'r', bottom: 'b', left: 'l') {
        .m--#{$short}-#{$name} {
            margin-#{$position}: #{$size} !important;
        }
        .p--#{$short}-#{$name} {
            padding-#{$position}: #{$size} !important;
        }
    }
}

.hidden {
    @each $name, $breakpoint in $grid-breakpoints {
        @media screen and (max-width: get-breakpoint-max($name)) {
            &--#{$name}-down { display: none !important; }
        }
        @media screen and (min-width: get-breakpoint-min($name)) {
            &--#{$name}-up { display: none !important; }
        }
    }
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.sr, .sr-only, .screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
